<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Noticias dos Rauls</title>
    <link rel="icon" href="/img/favicon-32x32.png" type="image/x-icon">
    <link href="style.css" rel="stylesheet" type="text/css">
    <script src="news.js" defer></script>
</head>
<body>
    <header class="navbar">
        <a href="#" class="home-button">Inicio</a>
    </header>
    <div class="titulo">
        <div class="logo">
            <img src="/img/Notícia.png" alt="ícone">
        </div>
        <main>
            <section class="Noticias">
                <div class="infoNoticia">
                    <img id="imgNoticia1" src="https://via.placeholder.com/150" alt="News Image">
                    <div class="ContNoticia">
                        <h2 id="titulo1"></h2>
                        <p id="noticia1"></p>
                    </div>
                </div>
                <div class="infoNoticia">
                    <img id="imgNoticia2" src="https://via.placeholder.com/150" alt="News Image">
                    <div class="ContNoticia">
                        <h2 id="titulo2"></h2>
                        <p id="noticia2"></p>
                    </div>
                </div>
                <div class="infoNoticia">
                    <img id="imgNoticia3" src="https://via.placeholder.com/150" alt="News Image">
                    <div class="ContNoticia">
                        <h2 id="titulo3"></h2>
                        <p id="noticia3"></p>
                    </div>
                </div>
                <div class="infoNoticia">
                    <img id="imgNoticia4" src="https://via.placeholder.com/150" alt="News Image">
                    <div class="ContNoticia">
                        <h2 id="titulo4"></h2>
                        <p id="noticia4"></p>
                    </div>
                </div>
                <div class="infoNoticia">
                    <img id="imgNoticia5" src="https://via.placeholder.com/150" alt="News Image">
                    <div class="ContNoticia">
                        <h2 id="titulo5"></h2>
                        <p id="noticia5"></p>
                    </div>
                </div>
            </section>
        </main>
</body>
</html>